/***************************************************
	      simplicity by marija zaric Distributed by http://freehtml5templates.com
***************************************************

***************************************************
			      Reset
***************************************************/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}


a img {border:none}


aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}


/***************************************************
			      Global styles
***************************************************/

html, body {
	width:100%;
	height:100%;
	}


html, body{
  font-family: Arial, Verdana, sans-serif;
	font-size: 12px;
	background-color:#EDE8D4;
	background-image:url(../images/background.jpg);
	background-position:left top;
	background-repeat:repeat;
	color: black;
	margin:0 0 1px; height:100%; 
	line-height: 1.5;

}

p {
	margin-bottom:7px;
	}
	
a, p a {
	text-decoration:underline;
	color:white;
	}
	a:hover {color:white;}


h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Verdana, sans-serif;	
    font-weight: normal;
	position:relative;
	text-shadow: 0px 2px 2px #fff;

}

h1{
	font-size: 18px;
	line-height:0.9;
	color:#FF6666;
	text-transform:uppercase;
	margin-bottom:10px;
	border-bottom:4px double white;
	height:20px;

	
	}
	
	
	

/***************************************************
			    Main containers
***************************************************/

#container, #container_left, #container_right{
	position: relative;
	width:100%;
	
	}
	#container{
			position:relative;
			width:980px;
			margin:0 auto;
			background-color:transparent;
			
}



.group1 {
	float: right;
	width: 560px;
	position: relative;
	border: 1px solid white;
	background:transparent;
	padding:15px;
	margin-bottom:15px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px #B9D2D0;
	-webkit-box-shadow: 5px 5px #B9D2D0;
	box-shadow: 5px 5px #B9D2D0;
}
	
.gallery {
	float: left;
	width: 940px;
	position: relative;
	padding:15px;
	margin-top:20px;


	}
	
	
aside{
	float:left;
	width:240px;
	position: relative;
	padding:15px;
	border: 1px solid white;
	background:transparent;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px #B9D2D0;
	-webkit-box-shadow: 5px 5px #B9D2D0;
	box-shadow: 5px 5px #B9D2D0;

}		
	
			
header{
	position: relative;
	float:left;
	width: 100%;
	height:115px;
	margin-bottom: 25px;

	}
	
	
/***************************************************
				INTRO
***************************************************/	
	
	#intro{
	width: 960px;
	position: relative;
	float: left;
	height:209px;
	border: 1px solid #D8D5BC;
	padding:10px;
	background:white;
	-moz-box-shadow: 5px 5px #B9D2D0;
	-webkit-box-shadow: 5px 5px #B9D2D0;
	box-shadow: 5px 5px #B9D2D0;


	
	}

/***************************************************
				   HOLDERS
***************************************************/	

.holder_content {
	position: relative;
	float: left;
	width: 100%;
	margin-top:60px;


	}
	

	
/***************************************************
			        GALLERY
***************************************************/
	 a.photo_hover{
	position:relative;
	float: right;
	margin:5px 13px 8px 0;
	padding: 8px;
	-moz-box-shadow: 5px 5px #B9D2D0;
	-webkit-box-shadow: 5px 5px #B9D2D0;
	box-shadow: 5px 5px #B9D2D0;

	}
	a.photo_hover{ background-color:white;
		border: 1px solid #D8D5BC;

}
	a.photo_hover:hover {background-color:white;
	opacity:0.5;
	z-index:1000;
}

	 
	 	 
	 a.photo_hover3{
	position:relative;
	float: left;
	margin:5px 13px 8px 0;
	padding: 8px;
	-moz-box-shadow: 5px 5px #B9D2D0;
	-webkit-box-shadow: 5px 5px #B9D2D0;
	box-shadow: 5px 5px #B9D2D0;

	}
	a.photo_hover3{ background-color:white;
		border: 1px solid #D8D5BC;

}
	a.photo_hover3:hover {background-color:white;
	opacity:0.5;
	z-index:1000;
}

	
/***************************************************
			        FOOTER
***************************************************/


footer{
	position:relative;
	height:50px;
	clear:both;
	width:980px;
	padding-top:20px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 5px 5px #B9D2D0;
	-webkit-box-shadow: 5px 5px #B9D2D0;
	box-shadow: 5px 5px #B9D2D0;
	background:#FF6666;
	

	}

#FooterOne, #FooterTwo, #FooterTree {
	position: absolute;	
}

#FooterTwo{
	position: absolute;
	top:15px;
	left:13px;
	color:white;
	z-index:1000;

}

#FooterTree{
	position: absolute;
	top:15px;
	right: 15px;
	color:white;
	z-index:1000;

}




/***************************************************
				       MENU
***************************************************/

nav{
	position:absolute;
	width:340px;
	top:45px;
	left:640px;
	background-color:#96CFD1;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#1BC7B6), to(#47A0A3));
	background: -moz-linear-gradient(top, #1BC7B6,  #47A0A3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');

}


nav ul li{
	float: left;
	margin-left:16px;
	line-height:normal;
}

nav ul li a{
	font-size: 17px;
	font-family:Arial, Verdana, sans-serif;
	color: white;
	text-transform:capitalize;
	font-weight:normal;
	display:block;	/* IE6, IE7 line height fix */
	padding-bottom:10px;
	padding-top:5px;
	font-weight:bold;
	background-color:transparent;
	margin-top:5px;
	margin-right:6px;
    text-decoration:none;


}

nav ul li a:hover{
	color: white;
	text-decoration:underline;

}



.content_menu{
	float: left;
	width: 200px;
	margin-top:12px;

	}
	
.content_menu ul{	
	margin: 0px;
	padding: 0px;
	float: none;
}

.content_menu ul li{
	float: none;
	padding-bottom: 10px;

}


.content_menu ul li a{
	font-size:14px;
	line-height:normal;
    color:#429598;
	text-align:left;
	text-decoration:none;
	background-image:url(../images/circle.png);
	background-position:left;
	background-repeat: no-repeat;
	padding-left:20px;
	

	}
	
.content_menu ul li a:hover{color:#FF6666;}




/***************************************************
				   SPECIFIC
***************************************************/

#logo{
	position:relative;
   	float:left;
   	top:-10px;
	left:0px;
	width:250px;
	height:160px;
	

}

.clearing{
	clear: both;
	display: inline;
	width: 100%;
	height: 0;
	overflow:hidden;
}

 
 	
.button {
	width: 80px;
	height:12px;
	position:relative;
	margin-top:12px;
	padding:9px;
	background-color:#96CFD1;
	display: inline-block;
	outline: none;
	color:white;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	background: -webkit-gradient(linear, left top, left bottom, from(#1BC7B6), to(#47A0A3));
	background: -moz-linear-gradient(top, #1BC7B6,  #47A0A3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.button:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#FF6666), to(#FF6666));
	background: -moz-linear-gradient(top,  #FF6666,  #FF6666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.button:active {
	position: relative;
	top: 1px;
}


	
	Slideshow
*/

#slides {
	position:absolute;
	top:15px;
	left:4px;
	z-index:100;
}

/*
	Slides container
	Important:
	Set the width of your slides container
	Set to display none, prevents content flash
*/

.slides_container {
	width:980px;
	overflow:hidden;
	position:relative;
	display:none;
}

/*
	Each slide
	Important:
	Set the width of your slides
	If height not specified height will be set by the slide content
	Set to display block
*/

.slides_container a {
	width:980px;
	height:270px;
	display:block;
}

.slides_container a img {
	display:block;
}

/*
	Next/prev buttons
*/

#slides .next,#slides .prev {
	position:absolute;
	top:107px;
	left:-39px;
	width:24px;
	height:43px;
	display:block;
	z-index:101;
}

#slides .next {
	left:585px;
}

/*
	Pagination
*/

.pagination {
	margin-top:120px;
	width:100x;
	position:absolute;
	top:120px;
	left:470px;
	
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url(../images/pagination.png);
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

#users .table {
	display: table;
}

#users .row {
	display: table-row;
}

#users .cell {
	display: table-cell;
	padding-right: 20px;
}
